.award {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 17.5rem;
}
.award_title {
  color: rgba(50, 71, 92, 0.87);
  font-weight: 600;
}

.award_subTitle {
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: rgba(50, 71, 92, 0.6);
}

.award_amount {
  color: rgb(105, 108, 255);
  font-size: 1.625rem !important;
}
.award_detail {
  display: flex;
  justify-content: space-between;

  height: 6.5rem;
}
.awardPng {
  position: absolute;
  right: 36px;
  bottom: -2px;
}
