.navBar {
  height: 70px;

  // border: 1px solid red;
  // margin-left: 50px;
  //max-width: calc(1440px - 3rem);
  // min-width: 720px;
  // position: fixed;
  // top: 10px;
  // max-width: calc(1440px - 3rem);
  // width: 76vw;
}
// .reddot {
//   width: 15px;
//   height: 15px;
//   background-color: red;
//   position: absolute;
//   top: 10px;
//   right: 0;
// }
.popup_searchContainer {
  height: 500px;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  .popup_searchbar {
    padding: 10px 5px;
    width: 600px;
    height: 50px;
    border-bottom: 1px solid rgba(50, 71, 92, 0.12);
    display: flex;
    align-items: center;
    .popup_searchbar_svg {
      margin: 0 10px;
    }
    .popup_searchbar_input {
      width: 450px;
      height: 30px;
      border: none;
    }
  }
  .popup_listItem_Container {
    width: 550px;
    height: 400px;
    margin: 10px auto;

    color: rgba(50, 71, 92, 0.87);
    .popup_listItem_grid {
      width: 500px;
      height: 150px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 20px auto;
    }
  }
}
.popup_listItem_buttonslist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(50, 71, 92, 0.87);
  margin-bottom: 30px;
}
.popup_listItem_Title {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgba(50, 71, 92, 0.38);
}
.popup_listItem_btnname {
  margin-left: 10px;
}
// .css-4kuizb-MuiSvgIcon-root {
//   margin-right: 0 !important;
// }
.searchbar_dropdownone {
  position: absolute;
  width: 100px;
  height: 165px;
  background-color: white;
  top: 50px;
  left: -50px;
  color: rgba(50, 71, 92, 0.87);
  border-radius: 5px;
  box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px,
    rgba(50, 71, 92, 0.14) 0px 8px 10px 1px,
    rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
  .lan {
    // color: rgb(105, 108, 255);
    color: rgba(50, 71, 92, 0.6);
    padding: 15px 10px;
    &:hover {
      background-color: #f7f8f9;
    }
  }
}
.searchbar_dropdownone_hidden {
  display: none;
}
.dropdown_shortcuts {
  position: absolute;
  width: 300px;
  // height: 500px;
  background-color: white;
  top: 50px;
  left: -250px;
  color: rgba(50, 71, 92, 0.87);
  border-radius: 5px;
  box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px,
    rgba(50, 71, 92, 0.14) 0px 8px 10px 1px,
    rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
  padding: 15px;

  .dropdown_shortcuts_titleContainer {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgba(50, 71, 92, 0.12);
    .dropdown_shortcuts_title {
      font-size: 18px;
    }
  }
}
.dropdown_shortcuts_listitem {
  overflow-y: scroll;
  height: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.iconCircle {
  width: 50px;
  height: 50px;
  background-color: rgba(133, 146, 163, 0.16);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.shortcut_Title {
  color: rgb(133, 146, 163);
  font-size: 15px;
}
.iconshortcut_eachitem {
  border: 1px solid rgba(50, 71, 92, 0.12);
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  &:hover {
    background-color: #f7f8f9;
  }
}
.shortcut_subTitle {
  color: rgb(133, 146, 163);
  font-size: 11px;
}
.dropdown_shortcuts_hidden {
  display: none;
}
.messages_date {
  width: 80px;
  color: rgba(50, 71, 92, 0.38);
  text-align: left;
}
.notification_title {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  cursor: text;
  font-weight: 600;
}
.number_of_notifications {
  height: 24px;
  color: rgb(105, 108, 255);
  background-color: rgba(105, 108, 255, 0.16);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 8px;
  padding: 10px 15px;
  border-radius: 3px;
}
.dropdownnotification_hidden {
  display: none;
}
.dropdownnotification {
  display: block;
}
.searchbar_avatar {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 3.8rem;
  left: -20px;
  color: rgba(50, 71, 92, 0.87);
  border-radius: 5px;
  box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px,
    rgba(50, 71, 92, 0.14) 0px 8px 10px 1px,
    rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
  background-color: aqua;
}
.searchbar_avatar_hidden {
  display: none;
}
