.orderStatisticCard {
  display: grid;
  grid-template-rows: 1fr, 0.5fr, 2fr, 4fr;
  padding: 2rem;
}
.orderS_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 400px;
}

.timelineinfo {
  width: 100%;
}
.timelineinfo_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.timelineinfo_title_subscribe {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 700;
}
.timelineinfo_title_mins {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.43;
  color: rgba(50, 71, 92, 0.38);
}
.timelineinfo_avatarinfo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.timelineinfo_avatarinfo_contentContainer {
  margin-left: 1rem;
}
.timelineinfo_avatarinfo_content_title {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.87);
  font-weight: 650;
}

.timelineinfo_avatarinfo_content_subTitle {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(50, 71, 92, 0.6);
}
